# Projeto GCP
GCP_PROJECT_ID=seu-projeto-aqui
GCP_BUCKET_NAME=radar-combustiveis-raw
GCP_LOCATION=southamerica-east1

# BigQuery
BQ_DATASET_RAW=raw
BQ_DATASET_STAGING=staging
BQ_DATASET_MART=mart

# Credencial (caminho dentro do container Airflow)
GOOGLE_APPLICATION_CREDENTIALS=/opt/airflow/gcp/sa.json